

header{
  background-color: blanchedalmond;
  width: 910px;
  height: auto;

  padding: 15px;

  border-width: 10px 5px 10px 5px;
  border-style: solid;
  border-color: black;

  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  margin: 0 auto;
  margin-top: -5px;
}
main{
  background-color: darksalmon;
  width: 910px;
  height: auto;

  padding: 15px;

  border-width: 10px 5px 10px 5px;
  border-style: solid;
  border-color: black;

  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}
footer{
  background-color: salmon;
  width: 910px;
  height: auto;

  padding: 15px;

  border-width: 10px 5px 10px 5px;
  border-style: solid;
  border-color: black;

  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

nav{
  background-color: tan;
  width: 375px;

  border-style: solid;
  border-color: black;
  border-width: 5px 3px 5px 3px;

  margin: 0 auto;
}
nav ul{

}
nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 50px;
  padding: 2px;

}
nav ul li a{
    color: blue;
    text-decoration: none;
}
nav ul li:hover{
    background-color: grey;
}

#grid1{
  width: 850;
  height: auto;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 150 px;
  grid-template-columns: 190px 590px;
  grid-column-gap: 20 px;
}

#grid2{
  width: 850;
  height: auto;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 300 px;
  grid-template-columns: 390px 390px;
  grid-column-gap: 20 px;
}

#grid2 img{
  width: 300px;
  margin: 0 auto;
  display: block;
  padding: 20px;
}

#grid3{
  width: 850;
  height: auto;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 20 px;
}

#grid3 img{
  width: 300px;
  margin: 0 auto;
  display: block;
  padding: 20px;
}
